<div class="jumbo">
    <div class="right tomster">
        
    </div>
    <h2>About Super Rentals</h2>
    <p>
        The super renta website....
    </p>
    {{#link-to "contact" id='contact' class="button"}}Contact Us {{/link-to}}
</div>