<div class ="jumbo">
    <div class = "right tomster">
        <h2>Contact Us</h2>
        <address>
            Super Rentals HQ
            <p>
                1212 Test Address Avenue
                </p>
            <a href="tel: 503.555.1212">+1 (503) 555-1212</a>
            <a href="mailto:superrentals@emberjs.com">superrentals@emberjs.com</a>
        </address>
        {{#link-to "about" class="button"}}About{{/link-to}}
    </div>
</div>